<.header>
  Topic <%= @topic.id %>
  <:subtitle>This is a topic record from your database.</:subtitle>
</.header>

<.list>
  <:item title="Name"><%= @topic.name %></:item>
</.list>

<.back navigate={~p"/topics"}>Back to topics</.back>

